.list {
    display: flex;

    .label {
        text-align        : right;
        float             : left;
        font-size         : 14px;
        color             : #606266;
        line-height       : 40px;
        padding           : 0 12px 0 0;
        font-weight       : 600;
        -webkit-box-sizing: border-box;
        box-sizing        : border-box;
    }

    .value {}
}